%overlay{ // Затемнение 
    content: "";
    position: absolute;
    // Растягиваем наложение 1 Варинт
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // Растягиваем наложение 2 Варинт ( 1 перекрытие ) фон
    //top: 0;
    //left: 0;
    //width: 100%;
    //height: 100%;

    background-color: rgba(0, 0, 0, 0.35);

}

@mixin bgImage($name) {
    background-image: url($name);
    background-size: cover;
    background-position: center;
}