.card {
    display: block;
    // width: 270px;
    text-align: center;
}

.card__img {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    /*Tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.card__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    /*Tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 10px;
        min-height: 32px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        min-height: unset;
    }
}

.card__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    color: $paragraphText;

    /*Tablet*/
    @media (max-width: 1199px) {
        line-height: 1.5;  // 22/14=1.5
    }
}