.header{
    position: relative; // для оверлея .header::before
    // height: 870px;

    background-repeat: no-repeat;

    @include bgImage("./../img/bg/header.jpg");

    &::before{ 
        @extend %overlay;
    }

    /*Desktop MD*/
    @media (max-width: 1600px) {
        @include bgImage("./../img/bg/header-1600.jpg");
    }

    /*Tablet*/
    @media (max-width: 1199px) {
        @include bgImage("./../img/bg/header-900.jpg");
    }

    /*Mobile*/
    @media (max-width: 899px) {
        @include bgImage("./../img/bg/header-600.jpg");
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        @include bgImage("./../img/bg/header-320.jpg");
    }
}

.header__wrapper{
    position: relative;  // для оверлея .header::before  { position: absolute; //позиционируем относитеельно .header::before ( 2 перекрытие для контента )}
    z-index: 9;//теперь контент будет накладываться на оверлей (.header::before)

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 100px;
    color: white;
    // Растягиваем наложение для дальнейшего позиционирования иконок
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;

    /*Tablet*/
    @media (max-width: 1199px) {
        padding-bottom: 50px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        padding-top: 20px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-bottom: 40px;
    }
}

.header__buttons{
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 140px;

    /*Tablet*/
    @media (max-width: 1199px) {
        width: 100%;
        margin-bottom: 100px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        margin-bottom: 30px;
    }
}

.header__content {
    // position: absolute; // родитель .header__wrapper
    //Центрируем
    // top: 50%; 
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin-bottom: 148px;
    text-align: center;

    /*Tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 129px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        margin-bottom: 80px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 50px;
    }
}

.header__tittle {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;

    /*Tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 35px;
        font-size: 84px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        margin-bottom: 30px;
        font-size: 70px;
    }
}

.header__desc {
    margin-bottom: 70px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 20px;
    line-height: auto;// 24/20=1.2

    p {
        margin-bottom: 15px;
    }

    /*Tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 50px;
        font-size: 18px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        max-width: 430px;
        font-size: 16px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 30px;
    }
}

.header__form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    /*Mobile*/
    @media (max-width: 899px) {
        width: 370px;
        flex-direction: column;
        align-items: stretch;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
    }
}

.header__form > * + *{ //Элемнтам header__form первой вложенности, у который есть сосед справа, даем отступ
    margin-left: 20px;

    /*Mobile*/
    @media (max-width: 899px) {
        margin-left: 0;
        margin-top: 20px;
    }
}

.header__form-input{
    width: 240px;

    /*Mobile*/
    @media (max-width: 899px) {
        // width: 370px;
        width: 100%;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        // width: 290px;
    }
}