.button{
    display: inline-block;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;

    background: #00C470;
    border-radius: 30px;
    border: none;
    outline: none;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;

    letter-spacing: 4px; 
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
        background: #00b466;
    }
    
    &:focus{ 
        outline: none;
        background: #009957
    }
}