.button-solid{
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;

    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;

    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2E2E2E;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
        background: #000000;
        color: #fff;
    }
    
    &:focus{ 
        outline: none;
        background: #2f2f2f;
        color: #fff;
    }
}