.button-round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button-round:hover{
    background: #00C470;
}