.input {
    // width: 240px;
    // width: 100%;
    display: block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    background: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    border: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 60px;
    color: #FFFFFF;
}

.input::placeholder{
    color: #FFFFFF;
}

.input:focus{ 
    outline: none;
    background: rgba(0, 0, 0, 1)
}

.button{
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;

    background: #00C470;
    border-radius: 30px;
    border: none;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;

    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;

    cursor: pointer;

    &:hover{
        background: #00b466;
    }
    
    &:focus{ 
        outline: none;//Убираем выделения при выборе 
        background: #009957//Задаем свой outline
    }
}
