.package {
    display: flex;
    flex-direction: column;

    // width: 300px; - width:100% переносим в section-price__row
    padding-top: 40px;
    padding-bottom: 40px;
   
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;

    color: #FFFFFF;
    text-align: center;

    &--special{
        background: rgba(48, 79, 254, 0.95);

        & .package__tittle{
            color: #fff;
        }

        & .package__period{
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.package__header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__tittle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B2B2B2;
}

.package__price {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;

    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.package__period {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.package__list {
    margin-bottom: 58px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.package__list-item {
    margin-bottom: 25px;

    &:last-child{
        margin-bottom: 0;
    }
}

.package__button{
    margin-top: auto; 
}
